#tabella-prodotti {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

#tabella-prodotti th, #tabella-prodotti td {
    border: none;
    padding: 8px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#tabella-prodotti th {
    background-color: #004d40;
    color: #bdbdbd;
}

#tabella-prodotti th:nth-child(1), #tabella-prodotti td:nth-child(1) {
    width: 60ch;
}

#tabella-prodotti th:nth-child(2), #tabella-prodotti td:nth-child(2) {
    width: 8ch;
}

#tabella-prodotti input {
    width: 90%;
    box-sizing: border-box;
}

.editable {
    cursor: pointer;
}

/* Stile per i pulsanti */
.gestione-prodotti {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 10px;
}

.pulsanti-sinistra,
.campi-centrali,
.pulsanti-destra {
    display: flex;
    gap: 10px;
}

/* Aggiunta per allineare il pulsante a destra */
.campi-centrali {
    margin-left: auto;
}

/* Modifiche per i pulsanti e il campo password */
.gestione-prodotti button {
    background-color: #004d40;
    color: #bdbdbd;
    font-weight: bold;
    border: 1px solid #bdbdbd;
    padding: 8px 12px;
    cursor: pointer;
}

.gestione-prodotti input[type="text"] {
    background-color: #004d40;
    color: #bdbdbd; /* Modificato: il colore del testo del campo password */
    border: 1px solid #bdbdbd;
    padding: 8px;
}

/* Modifica per il placeholder, così che anche il testo "Inserisci la password" sia grigio chiaro */
.gestione-prodotti input::placeholder {
    color: #bdbdbd;
    opacity: 1; /* Rende il colore visibile su Firefox */
}

@media (max-width: 600px) {
    #tabella-prodotti, .contenuto {
        width: 100%;
        overflow-x: auto;
    }

    #tabella-prodotti thead {
        display: none;
    }

    #tabella-prodotti tr {
        display: block;
        margin-bottom: 10px;
        border: none;
    }

    #tabella-prodotti td {
        display: block;
        text-align: right;
        border: none;
        position: relative;
        padding-left: 50%;
    }

    #tabella-prodotti td::before {
        content: attr(data-label);
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .gestione-prodotti {
        flex-direction: column;
        align-items: flex-start;
    }

    .campi-centrali,
    .pulsanti-destra {
        margin-top: 10px;
    }
}